<!DOCTYPE html>
<html>
  <head>
    <title>Instafeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" 
      content="Instafeeds is a social media application based on Instagram. 
      Main features include sharing photos with comments, following users, and 
      likes. Tech stacks: JavaScript, React / Redux, Ruby / Rails, AWS S3, 
      PostgreSQL, HTML5, CSS3." 
    />
    <meta name="title" property="og:title" content="Instafeeds" />
    <meta property="og:type" content="Website" />
    <meta name="image" 
      property="og:image" 
      content="https://i.imgur.com/S4XBrFi.png" 
    />
    <meta name="description" 
      property="og:description" 
      content="Instafeeds is a social media application based on Instagram. 
      Main features include sharing photos with comments, following users, and 
      likes. Tech stacks: JavaScript, React / Redux, Ruby / Rails, AWS S3, 
      PostgreSQL, HTML5, CSS3." 
    />
    <meta name="author" 
      content="Albert Cheng`" 
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Barlow:600|Cookie|Open+Sans:400,700&display=swap' %>
    <script type="text/javascript">
      window.brentURL = "<%= image_url('pawprint.png') %>";
    </script>
    <%= favicon_link_tag asset_path('camera.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
