<!DOCTYPE html>
<html>
  <head>
    <title>Instafeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Barlow:600|Cookie|Open+Sans:400,700&display=swap' %>
    <script type="text/javascript">
      window.brentURL = "<%= image_url('pawprint.png') %>";
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
